.whiteboard{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    border:thick solid black;
}

.snapshotButton{
    text-align: center;
    position: absolute;
    left: 10px;
    top: 1.5em;
    margin: 20px;
    border: thin solid #aaaaaa;
    background-color:skyblue;

  }

  

  